@import "./variables";

.ts-tapeSlider-container {
  width: 100;
  position: relative;
  border: 1px solid black;
  overflow-y: hidden;
  overflow-x: auto;
  padding-right: 80vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  gap: 0.2rem;
  cursor: pointer;
  user-select: none;
  &::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
  }
  .ts-tapeSlider-item {
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size: 2rem;
    padding: 0.01rem 0.2rem;

  }
}
